<div class="content_form">
    <h1>Add Skill</h1>
    <form id="add_skill">
        <input type="text" name="nombre" placeholder="Nombre Skill" required>
        <button class="btn btn-primary">Enviar</button>
    </form>    
</div>
<style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    *{
        font-family: 'Montserrat', sans-serif;
    }
    .content_form{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
        padding: 40px 0;
    }
    h1{
        text-align: center;
    }
    form{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    input, select, button{
        width: 300px;
        box-sizing: border-box;
        height: 40px;
    }
    button{
        border: #0000;
        background-color: #F4D03F;
        color: black;
        font-weight: 800;
    }
    .students{
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #000;
    }
</style>