@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #17202A !important;
}

.modulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moduloCotent{
    background-color: rgba(255, 255, 255, 0.747);
    margin-top: 90px;
    padding: 40px;
    border-radius: 10px;
    margin-left: 25px;
    transition: all  ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
}
.moduloCotent:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

.moduloCotent h2{
    width: 100%;
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #17202A;
}
#entrada{
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    position: fixed !important;
}
.navbar-brand{
    color: #fff !important;
    font-weight: 600;
}
.nav-item a{
    color: #fff !important;
    transition: all ease-in-out 1s;
}
.nav-item a:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.capa{
    background-color:#41414173;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ESTILOS TABLA*/
.btn-eliminar{
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #884EA0;
    color: #fff;
}
.btn-editar{
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #D4AC0D;
    color: #fff;
}
#tabla_skill{
    width: 600px;
}